
#scene-container {
    position: absolute; /* Create a positioning context for child elements */

}

#aboutthiswebsite, #fade-in-content, #header-text, .fade-in-content, .visualizer-container__bar {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Reset margin and padding for the entire page */
html, body {
    margin: 0;
    padding: 0;
}

/* Hide scrollbars in fullscreen mode */
:-webkit-full-screen {
    overflow: hidden;
}
  
:-moz-full-screen {
    overflow: hidden;
}
  
:-ms-fullscreen {
    overflow: hidden;
}
  
:fullscreen {
    overflow: hidden;
}

.link {
    z-index: 1; /* Place the text above the background */
    position: absolute;
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.currentpage {
    z-index: 1; /* Place the text above the background */
    position: absolute;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    /* color: rgb(103, 248, 233); */
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 0 0 6px #ea76f0, 0 0 7px #7e7efa;
    color: gray;
}

.link:hover {
    /* background-color: #007bff; */
    color: #fff;
}

#link1 {
    bottom: 10px;
    left: 100px;
}

#link2 {
    bottom: 30px;
    left: 100px;
}

#link3 {
    bottom: 90px;
    left: 100px;
}

#link4 {
    bottom: 50px;
    left: 100px;
}
#link5 {
    bottom: 70px;
    left: 100px;
}

#toggle_full_screen{
    cursor: pointer;
    position: absolute; /* Position the text element */
    top: 10%; /* Adjust to vertically center the text */
    left: 90%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center; /* Center-align the text */
}
.toggle_full_screen:hover{
    color: #fff;
}
.content {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(103, 248, 233);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 6px #f200ff, 0 0 7px #0000FF;

 }

/* Style for the header text */
.header-text {
    position: absolute; /* Position the text element */
    top: 10%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    font-size: 2rem; /* Adjust font size as needed */
    text-align: center; /* Center-align the text */
}

#aboutthiswebsite {
    position: absolute; /* Position the text element */
    top: 50%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center; /* Center-align the text */
    font-size: 2rem; /* Adjust font size as needed */
}

#playAudio {
    cursor: pointer;
    position: absolute; /* Position the text element */
    top: 30%; /* Adjust to vertically center the text */
    left: 90%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center; /* Center-align the text */
}

.visualizer-container {
    position: absolute;
    bottom: 250px;
    right: 0;
    left: 0;
    text-align: center;
}

.visualizer-container__bar {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px #6dd1ef, 0 0 10px rgb(248, 248, 249);
    border-radius: 5px; /* 10px border radius for all corners */
    border: 1px solid #6df2c3; /* 2px wide solid black border */
    background: linear-gradient(to bottom, transparent 0%, rgb(225, 153, 249));
    background-blend-mode: multiply;
    margin: 0 2px;
    width: 20px;
    height: 200px;
    /* transition: background 4s ease; Transition property */
    /* transition: background 250ms;
    animation: colorFade 10s infinite; */
}

/* Keyframes for animation */
/* @keyframes colorFade {
    0% {
        background: radial-gradient(transparent);
    }
    50% {
        background: radial-gradient(circle, rgb(255, 0, 200), transparent);
    }
    100% {
        background: radial-gradient(transparent);
    } */
/* } */


/* ---------------------------WARP----------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  overflow: hidden;

}
#effect {
    background-color: transparent;
    position: absolute;
}