
#scene-container {
    position: absolute; /* Create a positioning context for child elements */

}

#aboutthiswebsite, #fade-in-content, #header-text, .fade-in-content, .visualizer-container__bar, #playAudio {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

/* Hide scrollbars in fullscreen mode */
:-webkit-full-screen {
    overflow: hidden;
}
  
:-moz-full-screen {
    overflow: hidden;
}
  
:-ms-fullscreen {
    overflow: hidden;
}
  
:fullscreen {
    overflow: hidden;
}

.link {
    z-index: 1; /* Place the text above the background */
    position: absolute;
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 2rem;

}

.currentpage {
    z-index: 1; /* Place the text above the background */
    position: absolute;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    /* color: rgb(103, 248, 233); */
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 0 0 6em #ea76f0, 0 0 7em #7e7efa;
    color: gray;
    font-size: 2rem; /* Adjust font size as needed */
}

.navbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #111; */
    padding: 1% 0.5%; /* Adjust the padding to control the spacing */
    height: 10%;
    display: flex;
    justify-content: space-between; /* Distribute space evenly between links */
    align-items: center; /* Vertically center the links */
    margin: 0 1%; /* Adjust the margin for spacing */
    word-wrap: break-word;
}

.navbar a {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 1% 1%; /* Adjust the padding to control the spacing */
    text-decoration: none;
}

.link:hover {
    color: #fff;
}

/* #link1 {
    bottom: 3%;
}

#link2 {
    bottom: 3%;
}

#link3 {
    bottom: 3%;
}

#link4 {
    bottom: 3%;
}
#link5 {
    bottom: 3%;
} */

#toggle_full_screen{
    cursor: pointer;
    position: absolute; /* Position the text element */
    top: 10%; /* Adjust to vertically center the text */
    left: 90%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center; /* Center-align the text */
}
.toggle_full_screen:hover{
    color: #fff;
}
.content {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(103, 248, 233);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 6px #f200ff, 0 0 7px #0000FF;

 }

 /* Change the background and text color of the selected (pasted) text */
::selection {
    background-color: transparent;
    color: inherit;
    text-shadow: 0 0 6px #9ed908, 0 0 7px #e6ed0a;
}
  
/* Change the background and text color of the selected text when unfocused */
::-moz-selection {
    background-color: transparent;
    color: inherit;
    text-shadow: 0 0 6px #9ed908, 0 0 7px #e6ed0a;
}

/* Style for the header text */
.header-text {
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    font-size: 2rem;
    text-align: center;
}

#aboutthiswebsite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center;
    font-size: 2rem;
}

#playAudio {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text precisely */
    z-index: 0; /* Place the text above the background */
    text-align: center;
}

.visualizer-container {
    position: absolute;
    bottom: 15%;
    right: 0%;
    left: 0%;
    text-align: center;
}

.visualizer-container__bar {
    pointer-events: none;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px #6dd1ef, 0 0 10px rgb(248, 248, 249);
    border-radius: 5px;
    border: 1px solid #6df2c3;
    background: linear-gradient(to bottom, transparent 0%, rgb(222, 144, 248));
    margin: 0 0.1%;
    width: 1.5%;
    height: 200%;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 640px) {
    .link {
        font-size: 1.5rem;
    }
    .currentpage {
        font-size: 1.5rem;
    }
    #aboutthiswebsite {
        font-size: 1.7rem;
    }
    .header-text {
        font-size: 1.7rem;
    }
}

/* Add another media query for even smaller screens */
@media screen and (max-width: 480px) {
    .visualizer-container__bar {
        overflow: hidden;
    }
    .link {
        font-size: 1rem;
    }
    .currentpage {
        font-size: 1rem;
    }
    #aboutthiswebsite {
        font-size: 1.4rem;
    }
    .header-text {
        font-size: 1.4rem;
    }
}
/* div {
  transform: scaleX(1.5);
} */
/* Keyframes for animation */
/* @keyframes colorFade {
    0% {
        background: radial-gradient(transparent);
    }
    50% {
        background: radial-gradient(circle, rgb(255, 0, 200), transparent);
    }
    100% {
        background: radial-gradient(transparent);
    } */
/* } */

.image-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(248, 6, 6, 0.5); /* Semi-transparent background */
    cursor: pointer;
  }


/* ---------------------------WARP----------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  overflow: hidden;

}
#effect {
    background-color: transparent;
    position: absolute;
}